body {
    height: 600px;
    align-items:flex-start;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #FFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    flex-direction: row;
    width: 900px;
    display: flex;
    align-items: center;
    padding-right: 350px;
    gap: 50px;
    margin-top: 30px;
}
div {
   align-items: center;
   width: 200px;
   height: 40px;
   padding: 35px;
   display: inline-block;
}
img {

    width: 220px;
    height: 220px;
    align-items: center;
}
h1 {
    text-align: center;
    color: #EC5135;
    text-transform: uppercase;
    padding: 20px;
}
p{
    text-align: left;
}